// app global css in SCSS form

// app global css in SCSS form

body {
  font-family: "opensans", sans-serif !important;
  font-size: 14px;
  line-height: 16.41px;
}

.q-card {
  //background: #F2F1F9;
}

.q-btn {
  font-weight: 400;
  text-transform: none;
}

.q-btn--rectangle {
  border-radius: 4px;
}

.q-toolbar__title {
  font-size: 18px;
  line-height: 24.51px;
}

.q-tab {
  text-transform: capitalize;
}

.q-tab--active {
  color: #5034A4;
}

.q-tab--active .q-tab__label {
  font-weight: bold;
}
